<div class="container static-page-content">
<h2>Как добавить блог</h2>

<p>Если вы блоггер и хотите добавить ваш блог в ленту Delicatr.ru, необходимо убедиться, что настройки блога соответствуют перечисленным требованиям:</p>
<ul>
<li>Ваш блог должен быть полностью посвящен игровой или околоигровой тематике. В это понятие входят такие тематики, как обзоры игр; блоги игроков, посвященные одной или множеству игр; блоги о гейм-дизайне; индустрии разработки игр; косплей-блоги и прочие подобные. Число записей, не соответствующих игровой и околоигровой тематике не должно превышать 5%.
</li>
<li>Необходимо, чтобы ваш блог отдавал в RSS-ленту полную версию записи. 
<p> Для сайтов на Blogspot: перейдите в Настройки, далее в подраздел Другое и значение поля "Разрешить фид блога" установите как "Полный". Сохраните настройки.</p>
<p> Для сайтов на Wordpress: перейдите в Параметры, далее в подраздел Чтение, значение поля "Для каждой статьи в ленте отображать" установите как "Полный текст". Сохраните изменения.</p>
 </li>
</ul>

<p>Предложение по добавлению блога в ленту Delicatr можно отправить на адрес <a href="mailto:frey@list.ru">frey@list.ru</a>. В письме должно содержаться следующее:</p>
<ul>
<li>Название блога или ник блоггера</li>
<li>Ссылка на RSS-ленту блога (можно использовать ссылку с Feedburner)
 </li>
<li>Аватара блоггера, либо логотип или элемент логотипа блога размера 80х80 пикселей</li>
 </ul>
</div>

