<h1>Редактирование блога <%= @blog.title %></h1>

<%= render 'form' %>

<%= link_to 'Перейти к блогу', @blog %> |
<%= link_to 'Удалить блог', @blog, method: :delete, data: { confirm: 'Are you sure?' } %>