.sidebar {
  border-right: 2px solid gray;
  display: block;
  height: 100%;
  background-color: #fff;
}

body {
  background-image: asset-url('polotno.gif', image);
}

.container {
  border: 1px solid grey;
  background-color: #fff;
  border-radius: 3px;

}

.post-content {
  padding: 0 15px;
  margin-top: 30px;
  border: 1px solid black;
  border-radius: 3px;
  background-color: rgba(140, 111, 70, 0.5);
  img {
    border-radius: 3px;
  }

}

.blog_icon {
  border: 5px solid black;
  border-radius: 2px;
  line-height: 20px;
  margin-bottom: 5px;
}

