<div class="sidebar col-lg-3 col-md-3 col-sm-3 col-xs-hidden">
            <ul class="nav nav-pills nav-stacked">
                <li>
		<%= link_to 'Главная', root_url %>
                </li>
                <li><%= link_to 'Рейтинг блогов', blogs_path %></li>
                <li><%= link_to 'Добавить блог', add_blog_path %></li>
                <li><%= link_to 'О проекте', about_path %></li>

            </ul>
 </div>
