<div class="sidebar col-lg-3 col-md-3 col-sm-3 col-xs-hidden">test
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
		<%= link_to 'Delicatr', root_url %>
                </li>
                <li><a href="#">Рейтинг блогов</a></li>

            </ul>
 </div>
